@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
    --main-color: #111; /*#fff*/
    --font-color: #fff; /* #000 */
    --main-blue: #0C5DD8; /*0C5DD8 */
    --acc-blue: #0954c5; /*#0954c5*/
    --lighter-shade: #222;/*#d8d8d8*/
    --total-color: #111; /*#ecebeb*/
    --nav-hover-color: #222;/* #ddebff*/
    --animation-speed: 250ms;
    --overbudget-color: #3b0505; /*#ecacac*/
    --overbudget-alert-color: #b04a4a;
    --overbudget-text-color: #db4848;
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Montserrat';
    user-select: none;
    color: var(--font-color);
    transition: all 250ms;
}

.header {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: transparent;
    pointer-events: none;
}

.header::before {
    content: "";
    position: absolute;
    width: 10000px;
    height: 340px;
    top: -200px;
    left: -1000px;
    background-color: var(--main-color); /* Your background color */
    opacity: 0.7; /* 50% opacity */
    z-index: -1; /* Ensure the pseudo-element is behind the content */
    filter: blur(15px);
    transition: all 500ms;
}

.header.lowerOpacity::before {
    opacity: 0
}

.add-goal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    height: 100px;
    position: relative;
    left: -40px;
    top: 15px;
    aspect-ratio: 6/2;
    font-size: xx-large;
    border: none;
    background-color: var(--main-blue);
    color: var(--main-color);
    border-radius: 25px;
    transition: all var(--animation-speed) ease-in-out;
    flex-shrink: 1;
    pointer-events: all;
}

body {
    min-width: 1000px;
    overflow-x: hidden;
    background-color: var(--main-color);
}

.header-title {
    font-size: 100px;
    font-weight: 700;
}

.header-btn-container {
    display: flex;
    flex-wrap: nowrap;
}

.nav-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 6vh;
    width: 100vw;
    border-top:     var(--acc-blue) 1px solid;
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    z-index: 99;
    display: flex;
    justify-content: space-around;
}

.icon {
    font-size: 35px;
    color:     var(--acc-blue);
}

.navElem {
    width: 33%;
    border-right: 1px solid     var(--acc-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all var(--animation-speed) ;
}

.goalsNav {
    background-color:var(--acc-blue);
}

.goalsNav > .icon {
    color: var(--main-color);
}

.navElem:hover {
    opacity: 0.8;
}

.transitionFade {
    position: absolute;
    height: 100vh;
    width: 10000px;
    background-color: var(--main-color);
    z-index: 1000;
    opacity: 1;
    transition: all 500ms linear;
    pointer-events: none;
}

.transitionFade.fade{
    opacity: 0;
}

::-webkit-scrollbar {
    width: 1em;
    margin-right: 20px;
    border-radius: 2em;
}

::-webkit-scrollbar-track {
    border-radius: 2em;
    border: 1px solid #aaa;
    margin-right: 20px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-blue); 
    border-radius: 10em;
}

.settings-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 230px;

    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-radius: 1em;
    background-color: var(--main-color);

    opacity: 0;
    z-index: -100;
    transition: opacity 200ms ease-in-out
}

.settings-container.show {
    position: fixed;
    opacity: 1;
    z-index: 101;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: start;
}

.titleSettings {
    font-size: 37px;
    position: absolute;
    top: 17px;
    left: 20px;
}

.closeSettings {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 70px;
    padding: 10px;
    border-radius: 1em;
    border: 1px solid var(--main-blue);
    background-color: var(--main-color);
    color: var(--main-blue);
}

.settingSection {
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* justify-content: space-between; */
}

.settingSectionTitle {
    font-size: 20px;
    color: var(--font-color);
    opacity: 0.7;
}

.darkMode,.accColor, .mainColor, .deleteData, .immLights {
    /* width: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 3px;
}

.darkMode {
    position: relative;
    /* top: 15px; */
}

.darkModeTitle, .deleteData, .mainColor, .accColor, .immLights {
    font-size: 26px;
}

.darkModeToggle, .immLightsToggle {
    height: 35px;
    width: 37px;
    background-color: var(--lighter-shade);
    border: none;
    position: relative;
    display: flex;
    justify-content:center;
    align-items:center;
    color: var(--font-color);
    padding: 0;
    font-size: 25px;
    border-radius: 5px;
    transition: all var(--animation-speed);
    margin: 0;
    padding: 0;
}

.immLightsToggle > i {
    font-size: 20px;
}

.immLightsToggle.off > i {
    color: #676767;
}

.immLightsToggle.on > i {
    color: white;
}

.darkModeToggle:hover, .immLightsToggle:hover {
    background-color: var(--font-color);
    color: var(--main-color);
}

.darkModeToggle:hover > i, .immLightsToggle:hover > i {
    color: var(--main-color);
}

.resetSettingsBtn {
    position: absolute;
    right: 100px;
    top: 20px;
    width: 70px;
    padding: 10px;
    border-radius: 1em;
    border: 1px solid var(--main-blue);
    background-color: var(--main-blue);    
    color: #fff;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 38px;
    height: 35px;
    padding-right: 3px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 15px;
    border: none;
}

input[type="color"]::-moz-color-swatch {
    border-radius: 15px;
    border: none;
}

input[type="color"].accColorInput {
    background-color: var(--acc-blue);
}

input[type="color"].mainColorInput {
    background-color: var(--main-blue);
}

.deleteDataBtn {
    width: 70px;
    height: 35px;
    background-color: #b04a4a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
}

::-webkit-scrollbar {
    width: 1em;
    margin-right: 20px;
    border-radius: 2em;
}

::-webkit-scrollbar-track {
    border-radius: 2em;
    border: 1px solid #aaa;
    margin-right: 20px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-blue); 
    border-radius: 10em;
}

.backCircle1 {
    position: fixed;
    z-index: -1000;
    top: 100px;
    left: 700px;
    width: 300px;
    aspect-ratio: 1;
    border-radius: 50%;
    opacity: 1;
    background-color: var(--main-blue);
    filter: blur(10rem);
}

.backCircle2 {
    position: fixed;
    z-index: -1000;
    top: 600px;
    left: -100px;
    width: 500px;
    aspect-ratio: 1;
    border-radius: 50%;
    opacity: 1;
    background-color: var(--acc-blue);
    filter: blur(10rem);
}

.backCircle1.show, .backCircle2.show {
    transition: left  10s,opacity 2s,top 10s;
}

.versionNum {
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0.5;
}

.cover-hider {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: transparent;
    z-index: -99;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.cover-hider.show {
    opacity: 1;
    z-index: 99;
    background-color: rgba(0, 0, 0, .7);
}


.summary-container {
    position: fixed;
    width: 700px;
    height: 160px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 100;

    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-radius: 1em;
    background-color: var(--main-color);

    opacity: 0; 
    z-index: -100;
    transition: opacity 200ms ease-in-out
}

.summary-container.show {
    opacity: 1;
    z-index: 100;
}

.summaryTitle {
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 50px;
    font-weight: bold;
}


.closeSummaryBtn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 70px;
    padding: 10px;
    border-radius: 1em;
    border: 1px solid var(--main-blue);
    background-color: var(--main-color);
    color: var(--main-blue);
}
.summarySubTitle {
    position: absolute;
    left: 20px;
    top: 70px;
    font-size: large;
}

.summaryTotal {
    position: absolute;
    left: 20px;
    top: 105px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
}

.summaryTotalSpendings, .summaryTotalSavings, .summaryTotalProfit {
    width: calc(33% - 27px);
    background-color: var(--lighter-shade);
    height: 100px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}


.summaryTotalSpendingsNum, .summaryTotalSavingsNum, .summaryTotalProfitNum{
    font-size: 40px;
    position: relative;
    font-weight: bold;
    color: var(--main-blue);
}

.summaryTotalProfitNum {
    color: hsl(130, 40%, 50%);
}

.summaryTotalProfitNum.negative {
    color: hsl(0, 70%, 50%);
}

.percentageSummaryTotal {
    position: relative;
    top: 0px;
}

.total-box {
    position: relative;
    padding: 20px;
    width: 460px;
    height: 100px;
    left: 10px;
    border: 1px solid lightgray;
    border-radius: 1em;
    background-color: transparent;
    transition: all var(--animation-speed) ease-in-out;
}

.total-box::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 1em;
    background-color: var(--total-color); /* Your background color */
    opacity: 0.5; /* 50% opacity */
    z-index: -1; /* Ensure the pseudo-element is behind the content */
}

.Container.solidBoxes > .budgets-container > .total-box::before {
    opacity: 1;
}

.total-name {
    position: relative;
    margin-right: 0px;
    font-size: 2rem;
    font-weight: bold;
    width: 240px;
}

.total-savings {
    position: relative;
    left: 330px;
    top: -30px;
    width: min-content;
    font-size: 1.6rem;
    transition: all var(--animation-speed) ease-in-out;
    z-index: 2;
}

.total-goal {
    position: relative;
    left: 410px;
    top: -53px;
    z-index: 2;
}

.total-percentage-bar-main {
    background-color: var(--lighter-shade);
	border-radius: 20px;
	position: relative;
    top: -40px;
	margin: 15px 0;
	height: 20px;
	width: 350px;
    z-index: 2;
}

.total-way-there {
    background: /*linear-gradient(to left, #F2709C, #FF9472)*/ #7e7e7e;
	border-radius: 20px;
	color: var(--main-color);
	display: flex;
	align-items: center;
	justify-content: center;
    position: relative;
	height: 100%;
    width: 0;
    z-index: 2;
	transition: 1s ease 0.3s;
}

.total-percentage {
    position: relative;
    bottom: 80px;
    left: 365px;
    font-size: 24px;
    z-index: 10;
    transition: all var(--animation-speed);
    text-align: right;
    width: 80px;
}

.goals-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    row-gap: calc(2.2em - 10px);
    column-gap: calc(2.2em - 14px);
    margin-top: 2.5rem;
    top: 100px;
}

.detailsGoal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 170px;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 1em;
    background-color: var(--main-color);
    opacity: 0;
    z-index: -100;
    transition: opacity 200ms ease-in-out;
}

.detailsGoal.show {
    position: fixed;
    opacity: 1;
    z-index: 101;
}

.titleCG {
    font-size: 30px;
    position: relative;
    top: -195px;
    left: -140px;
}

.detailNameOfGoal {
    position: relative;
    border-radius: 1em;
    top: 10px;
    width: 480px;
    margin: 0;
    height: 40px;
    border: 1px solid var(--main-blue);
    background-color: var(--main-color);
}

.AmountOfGoal {
    position: relative;
    border-radius: 1em;
    top: 30px;
    left: -0px;
    margin: 0;
    width: 480px;
    height: 40px;
    border: 1px solid var(--main-blue);
    background-color: var(--main-color);

}

.add-goal-confirm {
    position: relative;
    left: 259px;
    top: 40px;
    width: max-content;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: var(--main-color);
    background-color: var(--main-blue);

}

.labelfordnob {
    position: relative;
    color: rgb(189, 189, 189);
    left: -210px;
    bottom: 80px;
    pointer-events: none;
    transition: all 10ms ease-in-out;
}

.labelfordnob.hide {
    opacity: 0;
}

.alertForAddGoal {
    position: relative;
    color: hsl(0, 90%, 50%);
    left: -50px;
    top: 10px;
    opacity: 0;
    transition: all var(--animation-speed) ease-in-out;
    display: inline-block;
}

.alertForAddGoal.show {
    transition: border var(--animation-speed) ease-in-out;
    opacity: 1;
}

.labelforaob {
    position: relative;
    color: rgb(189, 189, 189);
    left: -232px;
    pointer-events: none;
    top: -45px;
    transition: all 10ms ease-in-out;
}

.labelforaob.hide {
    opacity: 0;
}

.closedetails {
    position: relative;
    left: 266px;
    top: 40px;
    width: 70px;
    padding: 10px;
    border-radius: 1em;
    border: 1px solid var(--main-blue);
    background-color: var(--main-color);
    color: var(--main-blue);
}

.goalBox {
    width: 350px;
    height: 350px;
    background-color: transparent;
    border-radius: 1em;
    position: relative;
    left: 10px;
    border: 1px solid lightgray;
}

.goalBox::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 1em;
    background-color: var(--main-color); /* Your background color */
    opacity: 0.5; /* 50% opacity */
    z-index: -1; /* Ensure the pseudo-element is behind the content */
}

.goalName  {
    font-size: 2rem;
    font-weight: bold; width: 260px;
    position: absolute;
    left: 20px;
    top: 10px;
}

.currentSavings {
    opacity: 0;
}

.goal {
    opacity: 0;
}

.percentage-bar {
    position: absolute;
    top: 60px;
    left: 20px;
    width: 20px;
    height: 215px;
    background-color: var(--lighter-shade);
    border-radius: 50px;
}

.goalInput {
 opacity: 0;
}

.addSavingsBtn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 200px;
    height: 40px;
    background-color: var(--main-blue);
    color: white;
    border-radius: 15px;
    border: none;
    font-weight: bold;
}

.goalSettingsBtn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    height: 40px;
    width: 100px;
    border-radius: 15px;
    background-color: transparent;
    border: 1px solid var(--main-blue);
    font-weight: bold;
}