@import url('htotalttps://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
    --main-color: #111; /*#fff*/
    --font-color: #fff; /* #000 */
    --main-blue: #fbff00; /*0C5DD8 */
    --acc-blue: #3509c5; /*#0954c5*/
    --lighter-shade: #222;/*#d8d8d8*/
    --total-color: #111; /*#ecebeb*/
    --nav-hover-color: #222;/* #ddebff*/
    /* --main-color: #fff;
    --font-color: #000; 
    --main-blue: #0C5DD8 ; 
    --acc-blue: #0954c5 ;
    --lighter-shade: #d8d8d8;
    --total-color: #ecebeb; 
    --nav-hover-color:  #ddebff; */
}

* {

    font-family: 'Montserrat';

    user-select: none;

    color: var(--font-color)



}



.header {

    /* display: grid;

    grid-template-columns: 1fr 1fr 250px;

    gap: 10px; */

    width: 100vmax;

    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;

    align-items: space-between;

}

.header-btn-container {

    display: flex;

    /* /justify-content: center; */

    flex-wrap: nowrap;

}

body {

    min-width: 1000px;

    overflow-x: hidden;

    background-color: var(--main-color);

}

.detaisbudget {

    position: fixed;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    width: 480px;
    
    height: 170px;

    padding-top: 60px;

    padding-left: 20px;

    padding-right: 20px;

    padding-bottom: 20px;

    border-radius: 1em;

    background-color: var(--main-color);

    /* border: 1px solid #aaa; */

    /* box-shadow: 3px 1px 10px grey; */

    opacity: 0;

    z-index: -100;

    transition: opacity 200ms ease-in-out/*cubic-bezier(0.84, 0.32, 0.87, 1.38)/*cubic-bezier(0, 1.2, 0.98, 1.32)*/;

}

.detaisbudget.show {

    position: fixed;
    opacity: 1;
    z-index: 100;
}

.titleCB {
    font-size: 30px;
    position: relative;
    top: -195px;
    left: -117px;
}

/*

    top: -415px;

*/

.detailNameOfBudget {

    position: relative;

    border-radius: 1em;

    top: 10px;

    width: 480px;

    margin: 0;

    height: 40px;

    border: 1px solid var(--main-blue);
    background-color: var(--main-color);

}

.AmountOfBudget {

    position: relative;

    border-radius: 1em;

    top: 30px;

    left: -0px;

    margin: 0;

    width: 480px;

    height: 40px;

    border: 1px solid var(--main-blue);
    background-color: var(--main-color);

}

.add-budget-confirm {

    position: relative;

    left: 250px;

    top: 40px;

    width: max-content;

    font-size: 20px;

    padding: 10px;

    border-radius: 10px;

    border: none;

    color: var(--main-color);

    background-color: var(--main-blue);

}

.createbudgettitle {

    position: relative;

    top: -160px;

    left: -120px;

    font-size: 30px;

    font-weight: bold;

}

.labelfordnob {

    position: relative;

    color: rgb(189, 189, 189);

    left: -210px;

    bottom: 80px;

    pointer-events: none;

    transition: all 10ms ease-in-out;

}

.labelfordnob.hide {

    opacity: 0;

}

.AlertforAddbudget {

    position: relative;

    color: hsl(0, 90%, 50%);

    left: -50px;

    top: 10px;

    opacity: 0;

    transition: all 250ms ease-in-out;

}

.AlertforAddbudget.show {

    transition: border 250ms ease-in-out;

    opacity: 1;

}

.labelforaob {

    position: relative;

    color: rgb(189, 189, 189);

    left: -250px;

    pointer-events: none;

    top: -45px;

    transition: all 10ms ease-in-out;

}

.labelforaob.hide {

    opacity: 0;

}

.closedetails {

    position: relative;

    left: 255px;

    top: 40px;

    width: 70px;

    padding: 10px;

    border-radius: 1em;

    border: 1px solid var(--main-blue);

    background-color: var(--main-color);

    color: var(--main-blue);

}

.budgets-container {

    position: relative;

    top: 500px;

    display: grid;

    grid-template-columns: repeat(1, 1fr);

    row-gap: 3em;

    margin-top: 1rem;

}

.budget-box.overbudget {

    background-color: hsl(0, 63%, 80%);

    border: 2px solid hsl(0, 100%, 70%);

}

.budget-box {

    position: relative;

    /* left: -500px; */

    padding: 20px;

    width: 460px;

    height: 180px;

    top: -480px;

    left: -610px;

    border: 1px solid lightgray;

    border-radius: 1em;

    background-color: var(--main-color);

    /* /margin: 0; */

    /* margin-left: auto; */

    transition: all 250ms ease-in-out;

}

.budget-box.expanded {
    transform: scale(120%);
    transform-origin: left;
}

.budget-box.pop-up {
    animation: add 1s forwards;
}

@keyframes add {
    75% {
        left: 20px;
    }

    100% {
        left: 10px;
    }
}

.expenses {

    display: flex;

    justify-content: center;

    align-items: center;

    position: relative;

    left: 40px;

    width: 100px;

    height: 40px;

    padding: .25em;

    /* border-radius: .5em; */

    border-bottom: 1px solid #ddd;

}

.expenselabel {

    display: inline;

    width: max-content;

    color: rgb(87, 87, 87);

    height: 50px;

    position: relative;

    left: -380px;

    top: -17px;

    font-size: 20px;

}

.removebtn {

    /* display: flex;

    align-items: center;

    justify-content: center; */
    background-color: var(--lighter-shade);

    border: .5px solid #fff;

    border-radius: .25em;

    /*content": \2713";*/

    /* margin-left: 1em; */

    margin: 0;

    padding: 0;

    height: 30px;

    width: 30px;

    color: red;

}

.add-expense-btn {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 100px;

    aspect-ratio: 5/2;

    font-size: xx-large;

    border: none;

    margin-left: 10px;

    margin-right: 30px;

    background-color: var(--main-color);

    color: var(--main-blue);

    border: 1px solid var(--main-blue);

    border-radius: 25px;

    transition: all 250ms ease-in-out;

    flex-shrink: 1;

}

/* .add-expense-btn.overbudget {

} */

.add-budget-btn:hover {

    background-color: var(--acc-blue)/*#3383fa;*/;

    /* box-shadow: 5px 5px 18px grey; */

}

.add-expense-btn:hover {

    background-color: #f1f7ff;

    box-shadow: 5px 5px 18px grey;

}

.header-title {

    font-size: 100px;

    margin-right: auto;

}

.name-budgetAddedBudget {

    position: relative;

    margin-right: 0px;

    font-size: 2rem;

    font-weight: bold;

    width: 260px;

    bottom: 0px;

    transition: all 250ms;

    white-space: nowrap;

    overflow: hidden;

}

.total-expensesAddedBudget {

    position: relative;

    left: 3px;

    top: 20px;

    width: min-content;

    font-size: 1.6rem;
}

.total-budgetAddedBudget {

    position: relative;

    left: 83px;

    top: -5px;

    font-size: 1.1rem;
}

.percentage-bar-mainAddedBudget {

    background-color:     var(--lighter-shade);

	border-radius: 20px;

	position: relative;

    top: -10px;

	margin: 15px 0;

	height: 20px;

	width: 350px;

    transition: all 250ms;

}

.percentageAddedBudget {
    position: relative;
    bottom: 561px;
    bottom: 485px;
    left: 385px;
    font-size: 30px;
    z-index: 10;
    transition: all 250ms;
}

.way-thereAddedBudget {

    background: var(--main-blue);

	border-radius: 20px;

	color: var(--main-color);

	display: flex;

	align-items: center;

	justify-content: center;

    position: relative;

	height: 100%;

    width: 0;

	transition: 1s ease 0.3s;

}

.errorppavAddedBudget {

    position: relative;

    color: hsl(0, 90%, 50%);

    top: -34px;

    opacity: 0;

    transition: all 250ms cubic-bezier(0.25, 0.1, 0, 1.06);

}

.expenseAddedBudget {

    margin: 0;

    position: relative;

    top: 0px;

    width: 190px;

    left: -190px;

    height: 40px;

    border-radius: 50px;

    border: 1px solid var(--main-blue);

    background-color: var(--main-color);

    /* /transition: all 250ms ease-in-out; */

}

.Add-expenseAddedBudget {

    position: relative;

    left: 200px;

    top: -40px;

    position: relative;

    height: 40px;

    width: 130px;

    color: var(--main-blue);

    background-color: var(--main-color);

    border-radius: 15px;

    border: 1px solid var(--main-blue);

    transition: all 250ms ease-in-out;

}

.View-expensesAddedBudget {

    position: relative;

    left: 220px;

    top: -40px;

    height: 40px;

    width: 120px;

    color: grey;

    background-color: var(--main-color);

    border-radius: 15px;

    border: 1px solid grey;

    transition: all 250ms ease-in-out;

    /* opacity: 0; */

}

/* .View-expensesAddedBudget:hover {
    background-color:  hsl(0, 67%, 57%);
    color: var(--main-color);
    top: -190px;
    transition-delay: 0;
    border: none;
} */

.increaser {
    position: relative;
    top: -543px;
    font-size: 24px;
    left: 300px;
    z-index: 10;
    font-weight: 500;
    transition: all 250ms;
}

.increaser.neutral {
    color: #7e7e7e;
}

.increaser.up {
    color: hsl(130, 40%, 50%);
}

.increaser.down {
    color: hsl(0, 70%, 50%);
}

.budget-box.overbudget > .increaser {
    color: hsl(0, 70%, 50%);
}

.hiderAddedBudget {

    position: relative;

    border: 1px solid lightgrey;

    left: -22px;

    top: -246px;

    width: 502px;

    height: 224px;

    border-radius: 1em;

    background-color: var(--main-color);

}

.expensesboxAddedBudget {

    display: grid;

    grid-template-columns: repeat(1, 1fr);

    grid-template-rows: repeat(0,40px);

    column-gap: .25em;

    row-gap: 0;

    position: relative;

    left: 20450px; 

    width: 440px;

    height: 160px;

    padding: 20px;

    padding-left: 30px;

    left: -20px;

    top: -447px;

    border: 1px solid lightgray;

    background-color: hsl(0, 0%, 97.5%);

    border-radius: 1em;

    overflow-y: auto;

    transition: all 500ms ease-in-out;


}

.expensesboxAddedBudget.show {

    transform: translateX(90%);

}

.ontop {

    z-index: 3;

}

.onbottom {

    z-index: 1;

}

.ontopmid {

    z-index: 2;

}

.errorppavAddedBudget.show {

    opacity: 1;

}

.way-thereAddedBudget.overhalf {

    background-color: hsl(50, 90%, 50%);

}

.way-thereAddedBudget.overthreeforths {

    background-color: hsl(0, 90%, 50%);

}

.overbudget {

    background-color: hsl(0, 63%, 80%);

    border: 1px solid hsl(0, 100%, 70%);

    color: hsl(0, 100%, 70%);

}

.removebtn::after {

    content: "\2715";

    font-weight: bold;

    color: red;

} 

.expensesbox {

    display: grid;

    grid-template-columns: repeat(3, 110px);

    grid-template-rows: repeat(3, 55px);

    column-gap: .25em;

    row-gap: .4em;

    position: relative;

    /* left: 450px; */

    width: 440px;

    height: 160px;

    padding: 20px;

    padding-left: 30px;

    left: 2000px;

    top: -447px;

    border: 1px solid lightgray;

    background-color: hsl(0, 0%, 97.5%);

    border-radius: 1em;

    overflow-y: auto;

    transition: all 500ms ease-in-out;

    z-index: 0;

}

.expensesbox.show {

    transform: translateX(90%);

}

.label {

    position: relative;

    color: hsl(0, 90%, 50%);

    top: -55px;

    opacity: 0;

    transition: all 250ms cubic-bezier(0.25, 0.1, 0, 1.06);

    z-index: 2;

}

::-webkit-scrollbar {

    width: 1em;

    margin-right: 20px;

    border-radius: 2em;

}

::-webkit-scrollbar-track {

    /* background-color: hsl(209, 70%, 40%); */

    /* border-radius: .5em 1em 1em .5em ; */

    border-radius: 2em;

    border: 1px solid #aaa;

    margin-right: 20px;

    /* background: var(--main-blue); */

}

::-webkit-scrollbar-thumb {

     background: var(--main-blue); 

     border-radius: 10em;

}

.label.show {

    opacity: 1;

    transition: none;

}

.name-budget {

    position: relative;

    margin-right: 0px;

    font-size: 2rem;

    font-weight: bold;

    width: 240px;

    z-index: 2;

}

.hider {

    position: relative;

    border: 1px solid lightgrey;

    left: -22px;

    top: -245px;

    width: 502px;

    height: 202px;

    border-radius: 1em;

    background-color: var(--main-color);

    z-index: 1;

}

.hider.overbudget {

    background-color: hsl(0, 63%, 80%);

    border: 2px solid hsl(0, 100%, 70%);

}

.total-expenses {

    position: relative;

    left: 330px;

    top: -30px;

    width: min-content;

    font-size: 1.6rem;

    transition: all 250ms ease-in-out;

    z-index: 2;

}

.total-budget {

    position: relative;

    left: 410px;

    top: -53px;

    z-index: 2;

}

.percentage-bar-main {

    background-color:     var(--lighter-shade);

	border-radius: 20px;

	position: relative;

    top: -40px;

	margin: 15px 0;

	height: 20px;

	width: 400px;

    z-index: 2;

}

.way-there {

    background: /*linear-gradient(to left, #F2709C, #FF9472)*/ var(--main-blue);

	/* box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C; */

	border-radius: 20px;

	color: var(--main-color);

	display: flex;

	align-items: center;

	justify-content: center;

    position: relative;

	height: 100%;

    width: 0;

    z-index: 2;

	transition: 1s ease 0.3s;

}

.way-there.overhalf {

    background-color: hsl(50, 90%, 50%);

}

.way-there.overthreeforths {

    background-color: hsl(0, 90%, 50%);

}

.Add-expense {

    position: relative;

    left: 200px;

    top: -60px;

    position: relative;

    height: 40px;

    width: 130px;

    color: var(--main-blue);

    background-color: var(--main-color);

    border-radius: 15px;

    border: 1px solid var(--main-blue);

    transition: all 250ms ease-in-out;

    z-index: 2;

}

.View-expense {

    position: relative;

    left: 200px;

    top: -60px;

    height: 40px;

    width: 130px;

    color: grey;

    background-color: var(--main-color);

    border-radius: 15px;

    border: 1px solid grey;

    transition: all 250ms ease-in-out;

    z-index: 2;

}

.add-budget-btn {

    display: flex;

    align-items: center;

    justify-content: center;

    margin-left: auto;

    height: 100px;
    
    position: relative;

    left: -40px;

    top: 15px;

    aspect-ratio: 6/2;

    font-size: xx-large;

    border: none;

    background-color: var(--main-blue);

    color: var(--main-color);

    border-radius: 25px;

    transition: all 250ms ease-in-out;

    flex-shrink: 1;

}

.Add-expense:hover {

    background-color: #f1f7ff;

    box-shadow: 5px 5px 18px grey;

}

.View-expense:hover {

    background-color: #f1f7ff;

    box-shadow: 5px 5px 18px grey;

}

.Add-expense.overbudget {

    background-color: hsl(0, 63%, 80%);

    border: 1px solid hsl(0, 100%, 70%);

    color: hsl(0, 100%, 70%);

}

.View-expense.overbudget {

    background-color: hsl(0, 63%, 80%);

    border: 1px solid hsl(0, 100%, 70%);

    color: hsl(0, 100%, 70%);

}

.expense {

    margin: 0;

    position: relative;

    top: -20px;

    width: 190px;

    left: -190px;

    height: 40px;

    border-radius: 50px;

    border: 1px solid var(--main-blue);

    transition: all 250ms ease-in-out;

    z-index: 2;

    border-bottom: 1px solid #ddd;

}

.expense.overbudget {

    background-color: hsl(0, 63%, 80%);

    border: 1px solid hsl(0, 100%, 70%);

    color: hsl(0, 100%, 70%);

}

.total-box {
    position: relative;

    /* left: -500px; */

    padding: 20px;

    width: 460px;

    height: 100px;

    top: -480px;
    left: 10px;
    border: 1px solid lightgray;

    border-radius: 1em;

    background-color:     var(--total-color);

    /* /margin: 0; */

    /* margin-left: auto; */

    transition: all 250ms ease-in-out;
}

.total-name {
    position: relative;

    margin-right: 0px;

    font-size: 2rem;

    font-weight: bold;

    width: 240px;

}

.total-total-expenses {
    
    position: relative;

    left: 330px;

    top: -30px;

    width: min-content;

    font-size: 1.6rem;

    transition: all 250ms ease-in-out;

    z-index: 2;

}

.total-total-budget {
    position: relative;

    left: 410px;

    top: -53px;

    z-index: 2;
}

.total-percentage-bar-main {
    
    background-color:     var(--lighter-shade);

	border-radius: 20px;

	position: relative;

    top: -40px;

	margin: 15px 0;

	height: 20px;

	width: 350px;

    z-index: 2;
}

.total-way-there {
    background: /*linear-gradient(to left, #F2709C, #FF9472)*/ #7e7e7e;

	/* box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C; */

	border-radius: 20px;

	color: var(--main-color);

	display: flex;

	align-items: center;

	justify-content: center;

    position: relative;

	height: 100%;

    width: 0;

    z-index: 2;

	transition: 1s ease 0.3s;

}

.move-left {
    left:  -224px;
}

.cookie-container {
    width: 300px;
    height: 140px;
    position: fixed; 
    bottom: 20px;
    left: -400px;
    border-radius: 0 25px 25px 0;
    padding: 40px;
    background-color: var(--main-blue);
    transition: all 500ms;
}

.cookie-container.show {
    left: 0;
}

.cookieInfo {
    color: var(--main-color);
    position: relative;
    top: -20px;
    font-size: x-large;
}

.LearnMoreCookies {
    color: var(--main-color);
    position: relative;
    top: -15px;
    text-decoration: none;
    transition: all 1000ms;
}

.LearnMoreCookies:hover {
    color: gray;
}

.acceptbtn {
    position: relative;
    left: 100px;
    top: 00px;
    width: 50px;
    background-color: var(--main-color);
    padding: 15px;
    border-radius: 15px;
    transition: all 500ms;
}

.dismissbtn {
    position: relative;
    left: 200px;
    bottom: 50px;
    width: 50px;
    background-color: var(--main-color);
    padding: 15px;
    border-radius: 15px;
    transition: all 500ms;
}

.acceptbtn:hover, .dismissbtn:hover {
    background-color:     var(--lighter-shade);
}

.deleteMemoryContainer {
    padding: 25px;
    width: 220px;
    height: 50px;
    border-radius: 25px 0 0 25px;
    position: fixed;
    right: 0;
    bottom: 20px;
    background-color: brown;
    transition: all 250ms;
    z-index: 100;
}

.deleteMemoryContainer.hide {
    right: -240px;
}

.deleteMemoryText {
    color: var(--main-color);
    position: relative;
    bottom: 6px;
    left: 10px;
}

.deleteMemoryBtn {
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 7px;
    position: relative;
    left: 82px;
    top: 15px;
}
.cancelMemoryBtn {
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 7px;
    position: relative;
    left: 90px;
    top: 15px;
}

.deleteMemoryLine {
    height: 65px;
    width: 2px;
    background-color: var(--main-color);
    position: relative;
    bottom: 55px;
    right: 10px;
}

.openDeleteMemorybtn {
    width: 35px;
    height: 100px;
    background-color: red;
    position: relative;
    opacity: 0;
    bottom: 140px;
    left: -25px;
    border-radius: 25px 0 0 25px;
    /* border: none; */
}

.delete-budget-btn {
    background-color: rgb(247, 82, 82);
    width: 35px;
    height: 35px;
    position: absolute;
    right: 10px;
    opacity: 0;
    bottom: 10px;
    border: 2px solid rgb(220, 54, 54);
    border-radius: 10%;
    transition: all 250ms;
}

.delete-budget-btn::after {
    content: "\2715";
    color: var(--main-color);
}

.delete-budget-btn::before {
    content: "DELETE BUDGET";
    position: absolute;
    width: 120px;
    left: -127px;
}

.removing {
    transition: all 500ms ease-out;
    opacity: 0;
}

.question-holder {
    position: fixed;
    top: 0;
    left: 0;
    width: 101%;
    height: 101%;
    z-index: 100;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
    transition: 400ms all;
}

.questionText {
    position: absolute;
    bottom: 54%;
    font-size: 52px;
    transition: inherit;
}

.blueText {
    color:     var(--acc-blue);
    font-weight: 600;
    transition: inherit;
}

.usedBudBeforeConfirmBtn {
    position: absolute;
    color: var(--main-color);
    left: 35%;
    width: 130px;
    padding-top: 20px;
    height: 40px;
    background-color:     var(--acc-blue);
    border-radius: 10px;
    transition: inherit;
}

.usedBudBeforeCancelBtn {
    position: absolute;
    color:     var(--acc-blue);
    right: 35%;
    width: 130px;
    padding-top: 20px;
    height: 40px;
    background-color: var(--main-color);
    border: 1px solid     var(--acc-blue);
    border-radius: 10px;
    transition: inherit;
}

.smallText {
    font-size: medium;
}

.hideQuestion {
    opacity: 0;
}

.blackout {
    width: 102%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -10;
}

.blackout.show {
    opacity: 1;
    z-index: 10;
}

/* .cover-hider {
    position: fixed;
    /* position: fixed;
    z-index: -20;
    width: 101%;
    height: 101%;
    margin: 0;
    padding: 10%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    opacity: 0; */
 

/* .cover-hider.active {
    z-index: 20;
    opacity: 1;
} */


.cover-hider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -99;
    background-color: rgba(0, 0, 0, .7);
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.cover-hider.show {
    opacity: 1;
    z-index: 99;
}

.imgProfile {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    left: -50px;
    transition: all 250ms;
}

.imgProfile:hover {
    box-shadow: 0px 0px 10px 0px black;
}

.budget-box.expanded > .View-expensesAddedBudget {
    background-color:  hsl(0, 67%, 57%);
    color: var(--main-color);
    top: -190px;
    transition-delay: 0;
    border: none;
    z-index: 100;
}

.budget-box.expanded > .increaser {
    top: -565px;
    left: 120px;
}

.budget-box.expanded > .total-budgetAddedBudget {
    opacity: 0;
    z-index: -10;
}

.budget-box.expanded > .percentageAddedBudget {
     bottom: 573px;
     left: 270px;
}

.budget-box.expanded > .total-expensesAddedBudget {
    opacity: 0;
    z-index: -10;
}

.expensestextAddedBudget {
    position: relative;
    bottom: 596px;
    font-size: 24px;
    opacity: 0;
    transition: all 250ms;
}

.budget-box.expanded > .expensestextAddedBudget {
    opacity: 1;
    z-index: 10;
}

.budget-box.expanded > .percentage-bar-mainAddedBudget {
    top: -42px;
    height: 10px;
    margin-bottom: 20px;
    width: 280px;
}

.budget-box.expanded > .name-budgetAddedBudget {
     bottom: 10px;
     transition: all 250ms;
}

.budget-box.expanded > .expenseAddedBudget {
    opacity: 0;
    z-index: -10;
}

.budget-box.expanded > .Add-expenseAddedBudget {
     opacity: 0;
     z-index: -10;
}

.expensesboxAddedBudget {
    z-index: -10;
    height: 120px;
    left: 0;
    width: 276px;
    top: -368px;
    overflow-x: hidden;
    transition: all 250ms;
    border-radius: 0;
    border:  none;
    background-color: var(--main-color);
    border-right: 1px solid #aaa;
    padding: 0;
}

.budget-box.expanded > .expensesboxAddedBudget {
    z-index: 10;
}

.expenses {
    position: relative;
    left: 0px;  
    box-sizing: border-box;
    border: none;
    width: auto;
    border-bottom: 1px solid #ddd;
}

.amount {
    position: absolute;
    left: 0;
}

.removebtn {
    position: absolute;
    right: 10px;
}

.budget-box.expanded > .delete-budget-btn {
    opacity: 1;
    z-index: 10;
}

.BudgetNameEditText {
    position: relative;
    bottom: 550px;
    z-index: -10;
    left: 310px;
    width: 120px;
    text-align: center;
    opacity: 0;
}

.budget-box.expanded > .BudgetNameEditText {
    z-index: 10;
    opacity: 1;
}

.BudgetNameEditBtn {
    z-index: -10;
    width: 33px;
    aspect-ratio: 1;
    background-color: var(--main-color);
    position: relative;
    bottom: 585px;
    left: 435px;
    padding: 0;
    border: 1px solid     var(--acc-blue);
    border-radius: 5px;
    z-index: -10;
    opacity: 0;
    transition: all 250ms;
    transform-origin: center;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.budget-box.expanded > .BudgetNameEditBtn {
    z-index: 11;
    opacity: 1;
}

.BudgetNameEditInput {
    z-index: 10;
    width: 33px;
    height: 33px;
    background-color: var(--main-color);
    position: relative;
    bottom: 620px;
    left: 435px;
    padding: 0;
    border: 1px solid     var(--acc-blue);
    border-radius: 5px;
    z-index: -10;
    opacity: 1;
    transition: all 250ms;
}

.BudgetNameEditInput.enabled {
    width: 158px;
    z-index: 10;
    left: 310px;
}

.BudgetNameEditInput:focus {
    text-decoration: none;
    outline: none;
}

.BudgetNameEditBtn.close {
    background-color: hsl(0, 67%, 57%);
    border: 1px solid hsl(0, 70%, 50%);
    transform: scale(121%);
}

.BudgetNameEditBtn.confirm {
    background-color: hsl(130, 40%, 50%);
    border: 1px solid hsl(130, 40%, 30%);
    transform: scale(121%);
}

.BudgetNameEditBtn.close::after {
    content: "\2715";
}

.BudgetNameEditBtn.confirm::after {
    content: "\2713";
}

.transitionFade {
    position: absolute;
    height: 100vh;
    width: 10000px;
    background-color: var(--main-color);
    z-index: 1000;
    opacity: 1;
    transition: all 500ms linear;
    pointer-events: none;
}

.transitionFade.fade{
    opacity: 0;
}


.nav-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 6vh;
    width: 100vw;
    border-top:     var(--acc-blue) 1px solid;
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    z-index: 99;
    display: flex;
    justify-content: space-around;
}

.icon {
    font-size: 35px;
    color:     var(--acc-blue);
}

.navElem {
    width: 33%;
    border-right: 1px solid     var(--acc-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all 250ms ;
}

.budgetsNav {
    background-color:     var(--acc-blue);
}

.budgetsNav > .icon {
    color: var(--main-color);
}

.navElem:hover {
    background-color:     var(--nav-hover-color);
}

.budgetsNav:hover {
    background-color: #1b6fed;
}

.settings-container {
    position: fixed;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    width: 480px;
    
    height: 170px;

    padding-top: 60px;

    padding-left: 20px;

    padding-right: 20px;

    padding-bottom: 20px;

    border-radius: 1em;

    background-color: var(--main-color);

    /* border: 1px solid #aaa; */

    /* box-shadow: 3px 1px 10px grey; */

    opacity: 0;

    z-index: -100;

    transition: opacity 200ms ease-in-out
}

.settings-container.show {
    position: fixed;
    opacity: 1;
    z-index: 100;

    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.titleSettings {
    font-size: 37px;
    position: absolute;
    top: 17px;
    left: 20px;
}

.closeSettings {
    position: absolute;

    right: 20px;

    top: 20px;

    width: 70px;

    padding: 10px;

    border-radius: 1em;

    border: 1px solid var(--main-blue);

    background-color: var(--main-color);

}

.darkMode {
    width: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.darkModeTitle, .mainColor, .accColor {
    font-size: 24px;
    width: 6ch;
}

.darkModeToggle {
    height: 35px;
    width: 35px;
    background-color: var(--lighter-shade);
    border: none;
    position: relative;
    left: 10px; 
    display: flex;
    justify-content:center;
    align-items:center;
    color: var(--font-color);
    padding: 0;
    font-size: 25px;
    border-radius: 5px;
    transition: all 250ms;
}

.darkModeToggle:hover {
    background-color: var(--font-color);
    color: var(--lighter-shade);
}

.darkModeToggle:hover > i {
    color: #222;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 15px;
    border: none;
}

input[type="color"]::-moz-color-swatch {
    border-radius: 15px;
    border: none;
}

input[type="color"].accColorInput {
    background-color: var(--acc-blue);
}

input[type="color"].mainColorInput {
    background-color: var(--main-blue);
}
